.form-div {
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.main-card-div {
  background-color: brown;
  border: 2px solid black;
  width: 400px;
}

.card-image {
  width: 380px;
}

